SECRET_KEY=cambie-esta-clave
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
DATABASE_ENGINE=sqlite
DATABASE_NAME=db.sqlite3
# DATABASE_ENGINE=mysql
# DATABASE_NAME=usuario$basedatos
# DATABASE_USER=usuario
# DATABASE_PASSWORD=secreto
# DATABASE_HOST=usuario.mysql.pythonanywhere-services.com
# DATABASE_PORT=3306
